{{form_start(form)}}
{# <h1>Hello this file name is {{ form(form) }}!</h1> #}
{{form_row(form.content_of)}}

{# <a href="{{ asset('uploads/content/' ~ upload.file_content) }}">View File content (CSV)</a> #}

{{form_end(form)}}